node_modules**
package-lock.json
/client/dist/bundle.js
/client/dist/bundle.js.map
/coverage**
.DS_STORE
/db/mockDGen.js
.env
.gitignore
.elasticbeanstalk/
/db/batchSeed/address/batchSpeedFile.csv
/db/batchSeed/address/batchFile.csv
/db/batchSeed/restaurant_typeBatch/batchSpeedFile.csv
/db/batchSeed/restaurant_typeBatch/batchFile.csv
/db/batchSeed/restaurantBatch/batchSpeedFile.csv
/db/batchSeed/restaurantBatch/batchFile.csv
/db/batchSeed/types/batchSpeedFile.csv
/db/batchSeed/types/batchFile.csv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
